name: Build SFA

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SEGMENT_DOWNLOAD_TIMEOUT_MINS: '2'
    steps:
      - uses: actions/checkout@v4
        with:
          path: sing-box

      - name: checkout app repository
        uses: actions/checkout@v4
        with:
          path: sing-box-for-android
          repository: SagerNet/sing-box-for-android
          ref: '3a2fc9c8802f0c40f0b1fd2d7acdcabb7aa0855f'
          submodules: recursive

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: '~1.24'

      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: setup ndk
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r28
          link-to-sdk: true

      - name: get latest build tools version
        id: sdk-ver
        run: echo version=$(ls $ANDROID_HOME/build-tools | tail -n 1) >> $GITHUB_OUTPUT

      - name: build libbox and preparation
        env:
          CGO_ENABLED: '0'
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          mkdir -p sing-box-for-android/app/libs/
          cd sing-box
          make lib_install
          make lib_android
          make update_android_version

      - name: build app
        run: |
          cd sing-box-for-android
          echo "" >> gradle.properties
          echo "org.gradle.jvmargs=-Xmx4096m -Dfile.encoding=UTF-8 -XX:+UseParallelGC" >> gradle.properties
          echo "org.gradle.caching=true" >> gradle.properties
          echo "org.gradle.parallel=true" >> gradle.properties
          sed -i '/signingConfigs\.release/d' app/build.gradle
          chmod +x ./gradlew
          ./gradlew assembleRelease

      - name: sign app
        uses: r0adkll/sign-android-release@v1
        id: sign-app
        env:
          BUILD_TOOLS_VERSION: ${{steps.sdk-ver.outputs.version}}
        with:
          alias: ${{ secrets.ALIAS }}
          releaseDirectory: sing-box-for-android/app/build/outputs/apk/other/release
          signingKeyBase64: ${{ secrets.SIGN_KEY }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}

      - name: upload apk
        uses: actions/upload-artifact@v4
        env:
          APK_ARCH: arm64-v8a
        with:
          name: SFA-${{ env.APK_ARCH }}
          path: sing-box-for-android/app/build/outputs/apk/other/release/*-${{ env.APK_ARCH }}-unsigned-signed.apk

      - name: upload apk
        uses: actions/upload-artifact@v4
        env:
          APK_ARCH: universal
        with:
          name: SFA-${{ env.APK_ARCH }}
          path: sing-box-for-android/app/build/outputs/apk/other/release/*-${{ env.APK_ARCH }}-unsigned-signed.apk
